@import '~bootstrap/scss/bootstrap';

body {
  background-color: black;
}

form {
  width: 250px;
  margin: 0 auto;
}

.active {
  background-color: #B22222 !important;
}

.proPic {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  object-fit: cover;
}

.userProfilePic {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  object-fit: cover;
}
